<table class='table table-bordered' >
  <thead>
    <tr>
      <th scope="col topic" > <%= t('activerecord.models.course.one') %> </th>
      <th scope="col topic" > <%= t('activerecord.models.group.one') %> </th>
      <th scope="col topic" > <%= t('activerecord.attributes.hometask.description') %> </th>
      <th scope="col topic" > <%= t('activerecord.attributes.hometask.link') %> </th>
      <th scope="col topic" > <%= t('activerecord.attributes.hometask.lesson') %> </th>
    </tr>
  </thead>

  <tbody>
    <% @hometasks.each do |hometask| %>
      <% if hometask %>
        <tr>
          <td scope="row" ><%= t("subjects.#{hometask.subject_name}") %></td>
          <td><%= hometask.group_name %></td>
          <td><%= hometask.description %></td>
          <td><%= hometask.link %></td>
          <td><%= hometask.lesson.topic %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
