<h1> <%= t('articles') %> </h1>
<table>
  <thead>
    <tr>
      <th> <%= t('topic') %> </th>
      <th> <%= t('summary') %> </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.topic %></td>
        <td><%= article.summary %></td>
        <td><%= link_to  t('show'), article %></td>
      </tr>
    <% end %>
  </tbody>
</table>
