<div class="group-container">
  <div class="group-number col-md-3">
    <%= image_tag "groups/#{@group.number}.png", class: 'group-img' %>
    <%= image_tag "groups/#{@group.parallel}.png", class: 'group-img' %>
  </div>
  <div class="col-md-9">
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="group-user-number"> # </th>
          <th> <%= t('activerecord.attributes.user.surname') %> </th>
          <th> <%= t('activerecord.attributes.user.name') %> </th>
          <th> <%= t('activerecord.attributes.user.email') %> </th>
        </tr>
      </thead>

      <tbody class="group-body">
        <% @group.users.each_with_index do |user, i| %>
          <tr>
            <td class="group-user-number"><%= i+1 %></td>
            <td><%= user.surname %></td>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= link_to t('devise.shared.links.back'), groups_path, class: 'btn btn-info right back-btn' if current_user.teacher? %>

