<%= form_with(model: lesson, local: true) do |form| %>
  <% if lesson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
      <% lesson.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :theme_id %>
    <%= form.text_field :theme_id, value: theme_id %>
  </div>

  <div class="field">
    <%= form.label :topic %>
    <%= form.text_field :topic %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :links %>
    <%= form.text_field :links %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_field Date.today %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
