<h1> <%= t('activerecord.models.lesson.other') %></h1>

<table>
  <thead>
    <tr>
      <th> <%= t('activerecord.attributes.lesson.topic') %> </th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <% Lesson.for_courses(current_user.courses).each do |lesson| %>
    <tbody>
      <tr>
        <td>
          <%= "#{lesson.topic}" %>
        </td>
        <% if current_user.teacher? %>
          <td>
            <a href=<%= edit_lesson_path lesson.id %> >
              <%= t('activerecord.models.lesson.edit') %>
            </a>
          </td>
        <% end %>
      </tr>
    </tbody>
  <% end %>
</table>
