<h1> <%= t('activerecord.models.theme.other') %></h1>

<table>
  <thead>
    <tr>
      <th> <%= t('activerecord.attributes.theme.topic') %> </th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <% Theme.where(course_id: @course.id).each do |theme| %>
  <tbody>
    <tr>
      <td>
        <%= "#{theme.topic}" %>
      </td>
      <% if current_user.teacher? %>
        <td> 
          <a href=<%= edit_theme_path theme.id %> >
            <%= "Edit" %>
          </a>
        </td>
      <% end %>
    </tr>
  </tbody>
  <% end %>
</table> 
