<% @title = t('activerecord.models.course.one') %>
<h1> <%= @title %></h1>
<table>
  <thead>
    <tr>
      <th> <%= t('activerecord.attributes.course.group') %> </th>
      <th> <%= t('activerecord.attributes.course.subject') %> </th>
      <th> <%= t('activerecord.attributes.course.user') %> </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>
        <a href=<%= group_path @course.group.id %> >
          <%= "#{@course.group.number}-#{@course.group.parallel}" %>
        </a>
      </td>
      <td> 
        <%= t("subjects.#{@course.subject.name}") %>  
      </td>
      <td> 
        <%= "#{@course.user.name} #{@course.user.surname}" %> 
      </td>
    </tr>
  </tbody>
</table>

<%= link_to "New Theme", new_theme_path if current_user.teacher? %>

<%= render 'themes' %>

<%= link_to 'Back', groups_path unless current_user.student? %>
