<% @title = t('activerecord.models.timetable') %>
<h1><%= @title %></h1>
<% @timeslots = Timeslot::NUMBERS %>
<div class="timeslots-wrapper"> 
  <div class="row">
    <% @timetable.each do |day, timetable_by_day| %>
      <div class="col-md-6">
        <table class='table table-bordered' >
          <thead  class="thead-dark" >
            <tr>
              <th scope="col" > </th>
              <th scope="col" >
                <p> <%= Date.today %> </p> 
                <%= t("days.#{day}") %> 
              </th>
              <th scope="col" > <%= t('menu.hometask') %> </th>
            </tr>
          </thead>

          <tbody> 
            <% @timeslots.each_with_index do |timeslot, index| %>
              <tr>
                <td scope="row"> <%= timeslot %> </td> 
                <td>
                  <%= timetable_by_day[index][:subject].name if timetable_by_day[index] %>  
                </td>
                <td> 
                 <%= timetable_by_day[index][:hometask] if timetable_by_day[index] %> 
                </td> 
              </tr>
            <% end %> 
          </tbody>
        </table>
      </div>
    <% end %>
  </div> 
</div>
