<% @title = t('activerecord.models.timetable') %>
<h1><%= @title %></h1>
<% @timeslots = Timeslot::NUMBERS %>
<div class="timeslots-wrapper"> 
  <div class="row">
    <% @timetable.each do |day, timetable_by_day| %>
      <div class="col-md-6">
        <table class='table table-bordered' >
          <thead  class="thead-dark" >
            <tr>
              <th scope="col" > </th>
              <th scope="col" >
                <p> <%= Date.today %> </p> 
                <%= t("days.#{day}") %> 
              </th>
              <th scope="col" > <%= t('activerecord.models.hometask.other') %> </th>
            </tr>
          </thead>

          <tbody> 
            <% @timeslots.each_with_index do |timeslot, index| %>
              <% index_f = index.next %>
              <tr>
                <td scope="row"> <%= timeslot %> </td> 
                <td>
                  <% if timetable_by_day[index_f] %>
                    <% if current_user.student? %>
                      <%= t("subjects.#{timetable_by_day[index_f][:subject].name}") %>
                    <% else %>
                      <% group = timetable_by_day[index_f][:group] %>  
                      <%= "#{group.number}-#{group.parallel}"%>
                    <% end %>
                  <% end %>
                </td>
                <td> 
                 <%= timetable_by_day[index_f][:hometask].description if timetable_by_day[index_f] %> 
                </td> 
              </tr>
            <% end %> 
          </tbody>
        </table>
      </div>
    <% end %>
  </div> 
</div>
