<header class="header">
  <div class="locale-links">
    <%= link_to image_tag('subjects/english.png', size: '50x50'), '?locale=en', class: 'right' %>
    <%= link_to image_tag('subjects/ukrainian.png', size: '50x50'), '?locale=ua', class: 'right'  %>

    <% if user_signed_in? %>
      <%= link_to image_tag('exit.png', size: '47x47'), destroy_user_session_path, method: :delete, class: 'right' %>
    <% else %>
      <%= link_to image_tag('plus.png', size: '47x47'), new_user_session_path, class: 'right' %>
    <% end %>
  </div>
  <h1 class="header-title">
    <%= link_to t(:title), root_path, class: 'header-link'%>
  </h1>
  <div class="btn-group btn-group-justified" id="nav_row" role="group">
    <!--TODO: customize links list by user role -->
    <%= link_to t('menu.home'), root_path, class: 'btn btn-info' %>
    <%= link_to t('menu.courses'), courses_path, class: 'btn btn-info' %>
    <%= link_to t('menu.hometasks'), hometasks_path, class: 'btn btn-info' %>
    <%= link_to t('menu.group'), groups_path, class: 'btn btn-info' %>
    <%= link_to t('menu.timetable'), '#', class: 'btn btn-info' %>
    <%= link_to t('menu.teachers'), '#', class: 'btn btn-info' %>
    <%= link_to t('menu.about_us'), '#', class: 'btn btn-info' %>
  </div>
</header>
