<!DOCTYPE html>
<html>
  <head>
    <title><%= @title || "School" %></title>
    <%= csrf_meta_tags %>

    <!-- Bootstrap 3 -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Change locale buttons -->
    <a href="?locale=ua">UA</a>
    <a href="?locale=en">EN</a>

    <%= link_to("Sign Out", destroy_user_session_path, method: :delete) if user_signed_in? %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
